html {
  scroll-behavior: smooth;
}

body {
  background-color: hsl(0, 0%, 96%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  width: 100%;
}

a {
  color: inherit !important;
}

footer {
  position: relative;
  overflow: hidden;
  border-top: 1px solid grey;
  margin-top: auto;
  background-color: hsl(0, 0%, 96%) !important;
}

.navbar {
  background-color: #fafafa !important;
  padding: 1.5em;
}

.col {
  text-align: justify;
}

#google-map {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%;
  margin: 0 auto;
  float: left;
  text-align: center;
}

#google-map iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.row {
  margin: 5% 10%;
}

hr {
  width: 70%;
}

#afspraakbutton.hide_button {
  border: none;
  background: none;
}

.full-width {
  width: 100% !important;
  margin: auto 0;
}

.btnAfspraak {
  position: relative;
  padding: 1em;
  padding-left: 1.2em !important;
  padding-right: 1.2em !important;
  margin-left: 2em;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: 2px;
  color: whitesmoke;
  border: 2px #383736 solid;
  border-radius: 4px;
  text-transform: uppercase;
  outline: 0;
  overflow: hidden;
  background: #383736;
  z-index: 2;
  cursor: pointer;
  transition: 0.08s ease-in;
  -o-transition: 0.08s ease-in;
  -ms-transition: 0.08s ease-in;
  -moz-transition: 0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}
.btnAfspraak :hover {
  color: #383736 !important;
}
.btnAfspraak :before {
  content: "";
  position: absolute;
  background: hsl(0, 0%, 96%);
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
}
.btnAfspraak :hover:before {
  top: 0;
}
.btnAfspraak > a {
  text-decoration: none;
}

.img-fluid {
  margin-right: 5rem;
  margin-bottom: 2rem;
}

.col-md > p {
  margin-bottom: 2rem;
  font-size: large;
}

@media only screen and (min-width: 992px) {
  #giraf {
    height: 25vh !important;
  }
  .fill {
    position: relative;
    padding: 1em;
    padding-left: 1.2em !important;
    padding-right: 1.2em !important;
    margin-left: 2em;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 2px;
    color: #383736;
    border: 2px #383736 solid;
    border-radius: 4px;
    text-transform: uppercase;
    outline: 0;
    overflow: hidden;
    background: none;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    -o-transition: 0.08s ease-in;
    -ms-transition: 0.08s ease-in;
    -moz-transition: 0.08s ease-in;
    -webkit-transition: 0.08s ease-in;
  }
  .fill :hover {
    color: whitesmoke !important;
  }
  .fill :before {
    content: "";
    position: absolute;
    background: #383736;
    bottom: 0;
    left: 0;
    right: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.09s ease-in;
  }
  .fill :hover:before {
    top: 0;
  }
  .fill > a {
    text-decoration: none;
  }
}
.underline {
  margin: 0em 2em;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: large;
  font-style: normal;
  text-decoration: none;
  position: relative;
}
.underline :hover {
  color: #000;
}
.underline :focus, .underline :hover {
  color: black !important;
  background-color: transparent;
  text-decoration: none;
}

.navbar-brand {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: x-large;
  font-style: italic;
}

.link--herse {
  font-family: freight-display-pro, serif;
  font-size: 1.375rem;
  font-weight: bold;
}

.link__graphic--arc {
  top: 73%;
  left: -23%;
}

.link__graphic--arc path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
  transition: stroke-dashoffset 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}

.link:hover .link__graphic--arc path {
  stroke-dashoffset: 0;
  transition-timing-function: cubic-bezier(0.8, 1, 0.7, 1);
  transition-duration: 0.3s;
}

.underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.underline:hover::before {
  transform: scaleX(1);
}

.button-container {
  position: relative;
}

.svg-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; /* Hides the part of the SVG that sticks out */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Ensures the SVG is below the button */
  padding-top: 5%;
}

#giraf {
  padding-left: 8em;
  height: 20vh;
  transform: translate(0%, 35%);
  transition: transform 0.75s ease-in;
}

.reset-transition {
  transition-duration: 0.75s; /* Reset transition duration when button is not hovered */
}

.button-container:hover #giraf {
  transform: translate(0%, -5%); /* Move the SVG up by adjusting the translateY value */
}

.button-container.hovered #giraf {
  transition-duration: 0.2s; /* Transition duration when button is hovered */
}

.slak {
  position: absolute;
  bottom: 0;
  left: -100px; /* start just off-screen */
  height: 50px; /* adjust based on your image size */
  animation: crawl 20s linear infinite;
}

@keyframes crawl {
  from {
    left: -100px; /* start just off-screen */
  }
  to {
    left: 100%; /* end just off-screen on the other side */
  }
}/*# sourceMappingURL=main.css.map */